#calendarView {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .grid-item.current-date {
    background-color: black;
    color: white;
    font-weight: bold;
  }
  
  #calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  #calendarHeader button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #calendarHeader button:hover {
    background-color: #0056b3;
  }
  
  #calendarHeader #monthYearDisplay {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    border: 2px solid #878787;
    border-radius: 5px;
    max-width: 605px;
  }
  
  .grid-container div {
    border: 1px solid #878787;
    padding: 17px;
    text-align: center;
  }

  .grid-container span {
    height: 25px;
    width: full;
    text-align: center;
    padding-top: 5px;
    border-bottom: 2px solid #878787;
  }
  
  .grid-item {
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
  }
  
  .grid-item.empty {
    background-color: white;
    border-color: white;
  }
  .grid-item:hover {
    background-color: #868e96;
    color: white;
  }
  