#registrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    height: 50vh;
    background-color: #6cf570;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(203, 243, 203, 0.1);
  }
  
  #registrationForm input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }

  
  #registrationForm button {
    width: 100%;
    padding: 10px;
    background-color: #2bbf2b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #registrationForm button:hover {
    background-color: #23961f;
  }
  
  #registrationView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  